*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
body{
    background: black;
    height: 100vh;
    /*display: flex;*/
    /*align-items: center;*/
    justify-content: space-around;
}






/* --填充div样式-- */

.f_ul{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    animation: sun 8s infinite;
}





/* -- 父布局动画-- */
@keyframes sun{
    100%{
        background-position: -400% 0;
    }
}



/* --重要-- */
.s_li{
    background: black;
    margin: 0.2%;
    width: 30%;
}


/* --重要-- */



.t_li{
    width: 70%;
    margin-left: 0.1%;
    margin-bottom: 0.3%;
    margin-top: 0.4%;
    margin-right: 0.2%;
}

.s_ul{
    height: 100%;
    list-style: none;
    
}

/* 这里是限制滚动条 */
.t_ul{
    height: 100%;
    list-style: none;
    overflow:auto
}
.t_ul::-webkit-scrollbar
{
width:0px;
}

.fill_li{
    width: 100%;
    height: 7px;
}

/* --颜色-- */
.blue_button{
    color: #03a9f4;
}
.gray_button{
    color: gray;
}
.red_button{
    color: #f441a5;
}
.yellow_button{
    color: #ffeb3b;
}
.green_button{
    color: #3fd860;
}

/* 子颜色 */
.gray2_button{
    color: rgb(78, 78, 78);
}
.red2_button{
    color:  #f38ee2;
}
.green2_button{
    color:  #36cec6;
}
.yellow2_button{
    color:  #daf16f;
}
.blue2_button{
    color: #163da7;
}



/* --按钮样式-- */
.btn{
    width: 95%;
    margin-left: 2.5%;
    height: 30px;
    background: none;
    border: 1px solid;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.btn::before,.btn::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 4px;
    background:black;
    transform: skewX(50deg);
    transition: .4s linear;
}

.btn::before{
    top: -4px;
    left: 10%;
}

.btn::after{
    bottom: -4px;
    right: 10%;
}

.btn:hover::before{
    left: 80%;
}
.btn:hover::after{
    right: 80%;
}

/* 可展开列表 */
.open_ul{
    width: 100%;
    margin-top: 7px;


}

.open_li{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.li_p{
    position: relative;
    width: 10%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 6%;
    margin-right: 4%;
    
}

.li_p::after{
    content: attr(data-text);
    color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #03a9f4, #f441a5,
    #ffeb3b, #03a9f4);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 400%;
    animation: sun 8s infinite;
}

.li_b{
    width: 100%;
    margin-bottom: 5px;
}

/* 个人主页绘制 */

.t_li_f{
    background: black;
    width: 100%;
    height: 55%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.t_li_s{
    margin-top: 0.2%;
    background: black;
    height: 45%;
}


/* 侧滑栏 ---------------------------------------------------------*/
#sidemenu{
    display: none;
}

#sidemenu:checked + aside {
    /*为被选中的sidemenu后的aside设置属性（紧邻）*/
    left: 61%;
    /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

#sidemenu:checked ~ #wrap {
    /* 控制按钮移动 */
      padding-left: 0%;
}

aside {
    /*侧边栏,初始位置为-200px，即隐藏效果*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40%;
    width: 30%;
    height: 68%;
    margin-top: 0.5%;
    background:none;
    transition: 0.2s ease-out;
    /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
    z-index: 0;
}


/*控制侧边栏进出的按钮（外部包裹）*/
#wrap {
    margin: 1%;
    transition: 0.2s ease-out;
}

/*控制侧边栏进出的按钮（内部文字样式）*/
label {
    /*控制侧边栏进出的按钮*/
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 75px;
    color: white;
    display: block;
    font-family: Courier New;
    background-size: 400%;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    animation: sun 8s infinite;
    position: absolute;
}


#sideul li{
    list-style: none;
}

/* 绘制侧滑的小按钮 */
/* #sideul a{
    text-decoration: none;
    position: absolute;

    font-size: 15px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    margin-left: 15%;
    width: 70%;
    height: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 45px;
    z-index: 1;
} */

/* #sideul a::before{
    content:attr(data-text);
    position: absolute;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: -7px;
    background: linear-gradient(90deg, #03a9f4, #f441a5,
    #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 45px;
    filter: blur(10px);
    z-index: -1;
    animation: sun 8s infinite;
} */


/* 绘制页面 */
.face_p{
    margin-left: 0.2%;
    width: 54%;
    color: white;
}
.face_img{
    margin-left: 0.2%;
    height: 40%;
}
/* 绘制底部布局 */

.face_p1{
    margin-left: 2%;
    width: 96%;
    border: 1px solid;
}

.face_a{
    display: block;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.face_a:hover{
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 0, 1);

}

/* 这里是倒影按钮 */
.container{
    width: 100%;
    height: 100%;
}
.container a{
    position: relative;
    display: block;
    width: 70%;
    height: 15%;
    line-height: 40px;
    text-align: center;
    margin: 40px;
    color: aqua;
    font-size: 10px;
    text-decoration: none;
    transition:  all .3s ease-in-out;
    /* 这一句话改变颜色 hue颜色滤镜，加度数改变颜色*/
    filter: hue-rotate(calc(var(--i) * 60deg));

}
.container a::before,.container a::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 50%;
    border: 2px solid aqua;
    transition: all 0.3s ease-in-out 0.3s; 
}
.container a::before{
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}
.container a::after{
    right: 0;
    bottom: 0;
    border-top: 0;
    border-left: 0;
}
.container a:hover{
    background-color: aqua;
    color: black;
    box-shadow: 0 0 50px aqua;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0,0,0,0.3));
    transition-delay: 0.4s;
}
.container a:hover::before,.container a:hover::after{
    width: 25%;
    height: 75%;
    transition-delay: 0s;
}


/* .face_p1::after{
    content: attr(data-text);
    color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #03a9f4, #f441a5,
    #ffeb3b, #03a9f4);
    background-clip: text;
    -webkit-background-clip: text;
} 
存放一会
*/